@charset "utf-8";

#hdbar {
	background-color: white;
	border-bottom: 1px solid #efefef;
	
	
}
section {
	
	overflow: auto;
	background-color: white;
	background-image: url(../images/day_clear.jpg);
	
	background-size: cover;
	background-position: center;
	color: white;
	text-shadow: 0.02em 0.02em 0.5em rgba(0,0,0,0.6);
	
}
.navbar {
	padding-left:  10px!important;
	padding-right:  10px!important;
	
}

#top {
	position: relative;

	
}
#top>div {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	padding: 0 0.5em;
	
	
}

#city {
	font-size: 2.3em;

}
/* svg 폰트어썸에서 변경될수있다.
 	i랑 햇갈릴수도
*/
#top>div>svg {
	font-size: 4em;
	
}

#info {
	margin-top: 1em;
	
}
#date {
	margin-bottom: 0px;
}

#mid {
/*	background-color: yellow;*/
	height: 110px;
	border-top: 1px solid rgba(255,255,255,0.4);
	border-bottom: 1px solid rgba(255,255,255,0.4);
}



.stext {
	font-size: 1.8em!important;
	
}
.temp {
	
	font-size: 2.6em;
	text-align: center;
	line-height: 110px;
	padding: 0!important;
}
.temp::after{
	content: "\2103";
	margin-left: -0.1em;
}
.etc span::after{
	
}
.row {
	width: 100%;
	margin: 0px!important;
}
#speed::after {
	content: "m/s";
	margin-left: -0.2em;
	font-size: 0.8em;
}
#hum::after {
	content: "%";
	margin-left: -0.05em;
	font-size: 0.8em;
}

.etc,
.minmax {
	
	font-size: 1.3em;
	text-align: center;
	padding-top: 1em;
	padding-left: 0em!important;
	padding-right: 0em!important;
}
#max::after,
#min::after {
	content: "\2103";
	font-size: 0.8em;
}

.minmax svg:first-of-type {
	border-top: 1px solid white;
}

.minmax svg:last-of-type {
	border-bottom: 1px solid white;
}
#bot {
	height: 110px;
}


.fc {
	float: left;
	width: 20%;
	text-align: center;
	padding-top: 1em;
	
}
.fc svg {
	font-size: 1.5em;
}
.ftemp::after {
	content: "\2103";
	
}

@media all and (orientation:landscape){
	#hdbar {
		height: 60px;
	}
	#top {
		width: 40%;
		float: left;
/*		vh는 모바일에서만 사용한다.*/
		height: calc(100vh - 60px)!important;
	}
	#midbot {
		width: 60%;
		float: left;
		background-color: rgba(0,0,0,0.2);
	}
	
}

